<app-header></app-header>

    <body>
      <h2 class="title">Liste de nos produits</h2>
      <div class="container">
        <input type="text" (input)="search()" [(ngModel)]="rec" #myInput placeholder=" Rechercher..." class="form-control filtre" >
          <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Libelle</th>
                <th scope="col">Categorie</th>
                <th scope="col">Quantite</th>
                <th scope="col">Prix</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let product of valeurs; index as i">
              <tr>
                <th scope="row">{{ product.ID }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.Category }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>
                  <button class="btn btn-primary space" [routerLink]="['/viewProduct/', i]">Voir </button>
                  <button class="btn btn-danger space" (click)="clickMethod(product.ID)">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-success add" (click)="addProduct()">+</button>
      </div>
    </body>
<!-- <app-footer></app-footer> -->