body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}


.block{
    margin: auto;
    width: 350px;
	height: 300px;
    color: #fff;
	border-radius: 10px;
    background-color: rgb(17, 81, 141);
	box-shadow: 5px 20px 50px #000;
    text-align: center;
    padding-top: 100px;
}

.entree{
    margin: auto;
}