.container{
    margin: auto;
    margin-top: 1%;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 2%;
}

.form1{
    width: 300px;
    
}
.form2{
    width: 300px;
    background-color: aqua;
}

h4{
    text-align: center;
    color: rgb(24, 136, 228);
    margin: 2%;
}
.left{
    float: right;
}
input{
    text-align: right;
}